

<!-- <%= @user.to_yaml %> -->



	<% new_image = @user.image %>
	<% new_image["square"] = "large"%>


<img id="profile_photo" src="<%= new_image %>" /> <br />




<div id="name">
	<%= @user.name %>	
	| Age | <%= @user.age %>
</div>






<% content_for :back do %>
  <%= link_to 'back', :back, {:"data-icon" => "arrow-l", :"data-iconpos" => 'left',  style: "margin-top: 5px !important;"} %>
<% end %>



<h2>Teaching Soon</h2>
<% if @lessons_offered.present? %>
  <ul data-role="listview" data-theme="g">
    <% @lessons_offered.each do |lesson| %>
			<%= render :partial => 'lessons/preview', :locals => {:lesson => lesson } %>
    <% end %>
  </ul>
<% else %>
  No lessons yet.
<% end %>



<h2>Taking Soon</h2>
<% if @lessons_taking.present? %>
  <ul data-role="listview" data-theme="g">
    <% @lessons_taking.each do |lesson| %>
			<%= render :partial => 'lessons/preview', :locals => {:lesson => lesson } %>
    <% end %>
  </ul>
<% else %>
  No lessons yet.
<% end %>