<% content_for :back do %>
  <%= link_to 'back', :back, {:"data-icon" => "arrow-l", :"data-iconpos" => 'left',  style: "margin-top: 7px !important;"} %>
<% end %>

<%= @user.name %>
<%= @user.birthday %>
<img src="<%= @user.image %>" />

<h2>Teaching Soon</h2>
<% if @lessons_offered.present? %>
  <ul data-role="listview" data-theme="g">
    <% @lessons_offered.each do |lesson| %>
			<%= render :partial => 'lessons/preview', :locals => {:lesson => lesson } %>
    <% end %>
  </ul>
<% else %>
  No lessons yet.
<% end %>



<h2>Taking Soon</h2>
<% if @lessons_taking.present? %>
  <ul data-role="listview" data-theme="g">
    <% @lessons_taking.each do |lesson| %>
			<%= render :partial => 'lessons/preview', :locals => {:lesson => lesson } %>
    <% end %>
  </ul>
<% else %>
  No lessons yet.
<% end %>