<h1>Showing User</h1>
<!-- <%= @user.to_yaml %> -->
<%= @user.name %>
<%= @user.birthday %>
<img src="<%= @user.image %>" />

<h2>Teaching Soon</h2>
<% if @lessons_offered.present? %>
  <ul data-role="listview" data-theme="g">
    <% @lessons_offered.each do |lesson| %>

			<%= render :partial => 'preview', :locals => {:lesson => lesson } %>
			
    <% end %>
  </ul>
<% else %>
  No lessons yet.
<% end %>



<h2>Taking Soon</h2>
<% if @lessons_taking.present? %>
  <ul data-role="listview" data-theme="g">
    <% @lessons_taking.each do |lesson| %>

			<%= render :partial => 'preview_taking', :locals => {:lesson => lesson } %>
			
    <% end %>
  </ul>
<% else %>
  No lessons yet.
<% end %>