<img id="profile_photo" src="<%= @user.large_img %>"/>

<table>
  <tr>
    <td><%= @user.name.titleize %></td>
    <td><label>Age</label></td>
    <td><%= @user.age %> years</td>
  </tr>
</table>

<% content_for :back do %>
  <%= link_to 'back', :back, {:"data-icon" => "arrow-l", :"data-iconpos" => 'left', style: "margin-top: 7px !important;"} %>
<% end %>


<% if @lessons_offered.present? %>
  <h2>Teaching Soon</h2>
  <ul data-role="listview" data-theme="g">
    <% @lessons_offered.each do |lesson| %>
      <%= render :partial => 'lessons/preview', :locals => {:lesson => lesson} %>
    <% end %>
  </ul>
<% end %>

<% if @lessons_taking.present? %>
  <h2>Taking Soon</h2>
  <ul data-role="listview" data-theme="g">
    <% @lessons_taking.each do |lesson| %>
      <%= render :partial => 'lessons/preview', :locals => {:lesson => lesson} %>
    <% end %>
  </ul>
<% end %>