<li>
  <a href="<%= lesson_path(lesson) %>" data-transition=slide>

    <%= image_tag lesson.image, {class: 'mug'} %>

    <div class="blue-text">
      <%= lesson.title %>
    </div>
    <!--
    <br/><%= lesson.start %> <%= lesson.end %> @ <%= lesson.time %>
    <br/>Teacher: <%= lesson.creator.name %>
    <% if lesson.student %>
      <br/>Student: <%= lesson.student.name %>
    <% end %>
    -->
  </a>
</li>



