
<%= form_for @lesson do |f| %>
  <%= f.text_field :title, {placeholder: 'Type of Lesson'} %>
  <label for='lesson_start'>Starting Station</label>
  <%= f.select(:start, Lesson::STATIONS) %>
  <label for='lesson_start'>Ending Station</label>
  <%= f.select(:start, Lesson::STATIONS) %>
  <%= f.text_field :time, {placeholder: 'Time Departing'} %>
  <a id=image_me href="#">Image Me</a>
  <%= f.submit 'Post a Lesson', {class: 'big_blue_button'} %>
<% end %>