<%= form_for @lesson do |f| %>
  <div class="min_height padded_top">
    <%= f.hidden_field :image_url %>
    <%= f.text_field :title, {placeholder: 'Type of Lesson', required: true} %>
    <span id="image_hud"></span>
    <!--<img src="" class="hidden" id="main-image"/>-->
    <%= f.select(:start, Lesson::STATIONS, {:prompt => 'Departure Station'}) %>
    <%= f.select(:end, Lesson::STATIONS, {:prompt => 'Arrival Station'}) %>
    <div class="positioned overlabel">
      <label>Departure Date</label>
      <%= f.text_field :date, {required: true, type: 'date'} %>
    </div>
    <div class="positioned overlabel">
      <label>Departure Time</label>
      <%= f.text_field :time, {required: true, type: 'time'} %>
    </div>
  </div>
  <div class="big_blue_button tall_bg pop_out">
    <%= f.submit 'Post a Lesson', {class: 'big_blue_button'} %>
  </div>
<% end %>