<% content_for :back do %>
  <%= link_to 'back', :back, {:"data-icon" => "arrow-l", :"data-iconpos" => 'left',  style: "margin-top: 7px !important;"} %>
<% end %>

<%= content_for :header do %>
  <script type="text/javascript">
    // this identifies your website in the createToken call below
    <% if Rails.env.development?  %>
    Stripe.setPublishableKey('pk_M3qqP9zlrvBHh2KLdvYruEl8Nk3Oy');
    <% else %>
    Stripe.setPublishableKey('pk_mgH0a7qhEgyMRs4Ie9MfV6yQn3s1V');
    <% end %>

    $("#payment-form").live('submit', function (event) {
//      console.log('event triggered', this, arguments);
      // disable the submit button to prevent repeated clicks
      $('.submit-button').attr("disabled", "disabled");

      // should be july 2012
      var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
//      var results = $('.card-expiry').val().match(/(.*) (\d*)/)
      var results = $('.card-expiry').val().match(/(\d*)-(\d*)/)
      if (!results){
        alert($('.card-expiry').val())
        alert(results)
        alert('need expiry month and year');
        return false;
      }

      var year = results[1];
//      var month = months.indexOf(results[1]) +1;
      var month = results[2];

//      alert(year);
//      alert(month);

      abc = Stripe.createToken({
        number:$('.card-number').val(),
        cvc:$('.card-cvc').val(),
        exp_month: month,
        exp_year: year
      }, stripeResponseHandler);
//      console.log('stripe sent', abc);

      // prevent the form from submitting with the default action
      return false;
    });

    function stripeResponseHandler(status, response) {
//      console.log('response handler', this, arguments);
      if (response.error) {
        // show the errors on the form
        $(".payment-errors").text(response.error.message);
        $(".submit-button").removeAttr("disabled");
      } else {
        var form$ = $("#payment-form");
        // token contains id, last4, and card type
        var token = response['id'];
        // insert the token into the form so it gets submitted to the server
        form$.append("<input type='hidden' name='[lesson]stripeToken' value='" + token + "'/>");
        // and submit
        form$.get(0).submit();
      }
    }
  </script>
<% end %>
<h1>Buy a lesson in <%= @lesson.name.titleize %></h1>

<%= form_for(@lesson, {url: buy_lesson_path(@lesson), html:
    {id: 'payment-form', :'data-ajax' => "false"}}) do |f| %>
  <div class="padded_top min_heighted2">
    <div class="payment-errors"></div>
    <%= f.text_field :'cardnumber', {class: "card-number", placeholder: 'Card Number', required: true} %>
    <%= f.text_field :'cardcvc', {class: "card-cvc", placeholder: 'CVC', required: true} %>
    <div class="positioned overlabel">
      <label>Expiration</label>
      <%= f.text_field :'cardexpiry', {class: "card-expiry", type: 'month', required: true} %>
    </div>
  </div>
  <div class="big_blue_button tall_bg pop_out">
    <%= submit_tag 'Book for $25' %>
  </div>
<% end %>

