<%= content_for :header do %>
  <script type="text/javascript">
    // this identifies your website in the createToken call below
    <% if Rails.env.development?  %>
    Stripe.setPublishableKey('pk_M3qqP9zlrvBHh2KLdvYruEl8Nk3Oy');
    <% else %>
    Stripe.setPublishableKey('pk_mgH0a7qhEgyMRs4Ie9MfV6yQn3s1V');
    <% end %>

    $("#payment-form").live('submit', function (event) {
      console.log('event triggered', this, arguments);
      // disable the submit button to prevent repeated clicks
      $('.submit-button').attr("disabled", "disabled");

      abc = Stripe.createToken({
        number:$('.card-number').val(),
        cvc:$('.card-cvc').val(),
        exp_month:$('.card-expiry-month').val(),
        exp_year:$('.card-expiry-year').val()
      }, stripeResponseHandler);
      console.log(abc);

      // prevent the form from submitting with the default action
      return false;
    });

    function stripeResponseHandler(status, response) {
      if (response.error) {
        // show the errors on the form
        $(".payment-errors").text(response.error.message);
        $(".submit-button").removeAttr("disabled");
      } else {
        var form$ = $("#payment-form");
        // token contains id, last4, and card type
        var token = response['id'];
        // insert the token into the form so it gets submitted to the server
        form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
        // and submit
        form$.get(0).submit();
      }
    }
  </script>
<% end %>

<h1>Buy <%= @lesson.name %></h1>

<%= form_for(@lesson, {url: buy_lesson_path(@lesson), html: {id: 'payment-form', :'data-ajax' => "false" } } ) do |f| %>
  <%= f.text_field :'cardnumber', {class: "card-number", placeholder: 'Card Number'} %>
  <%= f.text_field :'cardcvc', {class: "card-cvc", placeholder: 'CVC'} %>
  <%= f.text_field :'cardexpirymonth', {class: "card-expiry-month", placeholder: 'Expiry Month'} %>
  <%= f.text_field :'cardexpirymonth', {class: "card-expiry-year", placeholder: 'Expiry Year'} %>
  <%= submit_tag %>
<% end %>

