<% content_for :back do %>
  <a href="/" data-icon="arrow-l" data-iconpos='left' style="margin-top: 7px !important;">Back</a>
<% end %>

<div id=min_heighted>
  <% if @lesson.image_url %>
    <img id="main-image" src="<%= @lesson.image_url %>"/>
  <% end %>

  <h1><%= @lesson.title.titleize %></h1>

  <ul data-role="listview" data-theme="g">
    <%= render partial: 'users/preview', locals: {user: @lesson.creator, phrase: 'Teacher'} %>
    <% if @lesson.student %>
      <%= render partial: 'users/preview', locals: {user: @lesson.creator, phrase: 'Student'} %>
    <% end %>
  </ul>

  <table cellpadding="0" cellmargin="0" cellspacing="0">
    <tr>
      <td style="width: 50%;">
        <label>Leaving At</label>
      </td>
      <td>
        <span class="time">
                <%= @lesson.time %>
              </span>

      </td>
    </tr>
    <tr>
      <td>
        <label>
          from
        </label>
      </td>
      <td>
        <span class="info">
                <%= @lesson.start.try :titleize %>
              </span>
      </td>
    </tr>
    <tr>
      <td>
        <label>
          to
        </label>
      </td>
      <td>
        <span class="info">
                <%= @lesson.end.try :titleize %>
              </span>

      </td>
    </tr>
    <tr>
      <td>
        <label>
          length
        </label>
      </td>
      <td>
        <span class="info">
                40min
              </span>
      </td>
    </tr>
  </table>

  <% if @lesson.booked? && [@lesson.creator, @lesson.student].include?(current_user) %>
    <div class="padded">
      Hurrah! Your lesson is booked! All teachers and students should meet for their lessons in the very front car,
      towards the front door. After you’ve greeted each other then you two can choose whatever location is most
      convenient for your lesson.
    </div>
  <% end %>

</div>

<% if @lesson.student.present? %>
  <% if current_user == @lesson.student %>
    <a href="<%= buy_lesson_path(@lesson) %>">
      Complete
    </a>
  <% end %>
<% else %>
  <div class="tall_bg big_blue_button">
    <a data-role="button" href="<%= buy_lesson_path(@lesson) %>">
      Book for $25
    </a>
  </div>
<% end %>
