<h1><%= @lesson.title %></h1>

<%#= render parial: 'users/preview', locals: {user: @lesson.creator} %>

<div class="col">

</div>
<table>
  <tr>
    <td>
      <label>Leaving At</label>
    </td>
    <td>
      <label>
        from
      </label>
    </td>
    <td>
      <%= @lesson.start %>
    </td>
  </tr>
  <tr>
    <td rowspan="2">
      <div><%= @lesson.time %></div>
    </td>
    <td>
      <label>
        to
      </label>
    </td>
    <td>
      <%= @lesson.end %>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        length
      </label>
    </td>
    <td>
      <span class="time">
        45min
      </span>
    </td>
  </tr>
</table>

<br/>
<% if @lesson.student.present? %>
  <% if current_user == @lesson.student %>
    <a href="<%= buy_lesson_path(@lesson) %>">
      Complete
    </a>
  <% else %>
    Purchased already by <%= @lesson.student.name %>
  <% end %>
<% else %>
  <a href="<%= buy_lesson_path(@lesson) %>">
    Sign Up!
  </a>
<% end %>
