<% content_for :back do %>
  <a href="/" data-icon="arrow-l" data-iconpos='left' style="margin-top: 5px !important;">Back</a>
<% end %>

<h1><%= @lesson.title %></h1>

<ul data-role="listview" data-theme="g">
  <%= render partial: 'users/preview', locals: {user: @lesson.creator} %>
</ul>

<table cellpadding="0" cellmargin="0" cellspacing="0">
  <tr>
    <td>
      <label>Leaving At</label>
    </td>
    <td>
      <label>
        from
      </label>
    </td>
    <td>
      <span class="info">
        <%= @lesson.start %>
      </span>
    </td>
  </tr>
  <tr>
    <td rowspan="2">
      <span class="time">
        <%= @lesson.time %>
      </span>
    </td>
    <td>
      <label>
        to
      </label>
    </td>
    <td>
      <span class="info">
        <%= @lesson.end %>
      </span>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        length
      </label>
    </td>
    <td>
      <span class="info">
        40min
      </span>
    </td>
  </tr>
</table>

<br/>
<% if @lesson.student.present? %>
  <% if current_user == @lesson.student %>
    <a href="<%= buy_lesson_path(@lesson) %>">
      Complete
    </a>
  <% else %>
    Purchased already by <%= @lesson.student.name %>
  <% end %>
<% else %>
  <a class="big_blue_button" data-role="button" href="<%= buy_lesson_path(@lesson) %>">
    Book for $25
  </a>
<% end %>
