<!DOCTYPE html>
<html>
<head>
  <title>CaltrainTutor</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script type="text/javascript">
    if (!window['console'] || !window.console['log']) {
      window.console = {
        log:function () {
        },
        warn:function () {
        },
        trace:function () {
        }
      }
    }
  </script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body>

<% @page ||= 'none' %>
<%= jqm_page @page do %>
  <div data-role="header">
    <%= image_tag 'traintrainlogo.png' %>
  </div>

  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <div class="alert">
    <%= flash[:alert] %>
  </div>

  <%= yield %>

  <div data-role="footer" class="ui-bar nopadding nofade" data-position="fixed" data-theme="a" id="root_footer">
    <%= nav_for @page do |n| %>
      <%=
          n.button('discover',
                   {
                       :href => '/',
                       :data => {
                           :icon => :search,
                           :mini => true
                       }
                   }) %>
      <% if current_user %>

        <%=
            n.button('post',
                     {
                         :href => '/post',
                         :data => {
                             :icon => :'arrow-u',
                         }
                     }) %>
        <%=
            n.button('profile',
                     {
                         :href => '/me',
                         :data => {
                             :icon => :gear,
                             :mini => true
                         }
                     }) %>

      <% else %>
        <%=
            n.button('login',
                     {
                         :href => '/signin',
                         :data => {
                             :icon => :gear,
                             :mini => true,
                             :ajax => false
                         }
                     }) %>
      <% end %>
    <% end %>
  </div>
<% end %>

</body>
</html>
