<!DOCTYPE html>
<html>
<head>
  <title>CaltrainTutor</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Caltrain Tutor</h1>


<% @page ||= 'none' %>
<%= jqm_page @page do %>
  page: <%= @page %>
  <%= yield %>


  <%= link_to 'find a lesson', '/' %>

  <% if current_user %>
    <%= link_to 'post a lesson', '/post' %>
    <%= link_to 'my profile', '/me' %>
  <% else %>
    <a href="/signin" data-ajax="false">login</a>
  <% end %>

  <div data-role="footer" class="ui-bar nopadding nofade" data-position="fixed" data-theme="a" id="root_footer">
    <%= nav_for @page do |n| %>
      <%=
          n.button('discover',
                   {
                       :href => '/',
                       :data => {
                           :icon => :search,
                       }
                   }) %>
      <%=
          n.button('post',
                   {
                       :href => '/post',
                       :data => {
                           :icon => :'arrow-u',
                       }
                   }) %>
      <%=
          n.button('profile',
                   {
                       :href => '/me',
                       :data => {
                           :icon => :gear,
                       }
                   }) %>
    <% end %>
  </div>
<% end %>

</body>
</html>
