<!DOCTYPE html>
<html>
<head>
  <title>CaltrainTutor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script type="text/javascript">
    if (!window['console'] || !window.console['log']) {
      window.console = {
        log:function () {
        },
        warn:function () {
        },
        trace:function () {
        }
      }
    }
  </script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script src="https://www.google.com/jsapi"></script>

  <script type="text/javascript">

    google.load('search', '1');
    var imageSearch;
    google.setOnLoadCallback(function () {
      console.log('onload', this, arguments)
      imageSearch = new google.search.ImageSearch();
      imageSearch.setSearchCompleteCallback(this, function(){
        console.log('complete', this, arguments);
      }, null);
      imageSearch.execute("Subaru STI");
      google.search.Search.getBranding('branding');

    });

  </script>


  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body>

<% @page ||= 'none' %>
<%= jqm_page @page do %>
  <div data-role="header">
    <%= yield :back %>
    <%= image_tag 'traintrainlogo.png', {id: 'logo'} %>
  </div>
<!--
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <div class="alert">
    <%= flash[:alert] %>
  </div>-->

  <%= yield %>

  <div data-role="footer" class="ui-bar nopadding nofade" data-position="fixed" data-theme="a" id="root_footer">
    <%= nav_for @page do |n| %>

      <% width = current_user ? '33%' : '50%' %>

      <% if current_user %>
        <a href="/me" style="width: <%= width -%>">
          <img src="/assets/icons/profile-double.png"/>
          <br/>Profile
        </a>
      <% else %>
        <a href="/signin" style="width: <%= width -%>">
          <img src="/assets/icons/profile.png"/>
          <br/>Login
        </a>
      <% end %>
      <a href="/" class="border-left" style="border-radius: 0px !important; width: <%= width == '33%' ? '34%' : width -%>">
        <img src="/assets/icons/findalesson.png"/>
        <br/>Find a Lesson
      </a>
      <% if current_user %>
        <a href="/post" class="border-left" style="border-radius: 0px !important; width: <%= width -%>">
          <img src="/assets/icons/postalesson.png"/>
          <br/>Post a Lesson
        </a>
      <% end %>
    <% end %>
  </div>
<% end %>

</body>
</html>
