<!DOCTYPE html>
<html>
<head>
  <title>CaltrainTutor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script type="text/javascript">
    if (!window['console'] || !window.console['log']) {
      window.console = {
        log:function () {
        },
        warn:function () {
        },
        trace:function () {
        }
      }
    }
  </script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body>

<% @page ||= 'none' %>
<%= jqm_page @page do %>
  <div data-role="header">
    <%= image_tag 'traintrainlogo.png', {id: 'logo'} %>
  </div>

  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <div class="alert">
    <%= flash[:alert] %>
  </div>

  <%= yield %>

  <div data-role="footer" class="ui-bar nopadding nofade" data-position="fixed" data-theme="a" id="root_footer">
    <%= nav_for @page do |n| %>

      <a href="/">
        <img src="/assets/icons/profile.png"/>
        <br/>Find a Lesson
      </a>
      <% if current_user %>

        <a href="/post">
          <img src="/assets/icons/postalesson.png"/>
          <br/>Post a Lesson
        </a>
        <a href="/me">
          <img src="/assets/icons/profile.png"/>
          <br/>Profile
        </a>

      <% else %>

        <a href="/signin">
          <img src="/assets/icons/profile.png"/>
          <br/>Login
        </a>
      <% end %>
    <% end %>
  </div>
<% end %>

</body>
</html>
