<!DOCTYPE html>
<html>
<head>
  <title>CaltrainTutor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <script type="text/javascript">
    if (!window['console'] || !window.console['log']) {
      window.console = {
        log:function () {
        },
        warn:function () {
        },
        trace:function () {
        }
      }
    }
  </script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script src="https://www.google.com/jsapi"></script>
  <%= csrf_meta_tags %>
  <%= yield :header %>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33727880-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>
<body>

<% @page ||= 'none' %>
<%= jqm_page @page do %>
  <div data-role="header">
    <%= yield :back %>
    <%= image_tag 'traintrainlogo.png', {id: 'logo'} %>
    <%= yield :forward %>
  </div>
<!--
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <div class="alert">
    <%= flash[:alert] %>
  </div>-->

  <%= yield %>

  <div data-role="footer" class="ui-bar nopadding nofade" data-position="fixed" data-theme="a" id="root_footer">
    <%= nav_for @page do |n| %>

      <% width = current_user ? '33%' : '50%' %>

      <% if current_user %>
        <a href="/me" style="width: <%= width -%>">
            <img src="/assets/icons/profileicon.png" style="border-radius: 0px !important;"/>
          <br/>Profile
        </a>
      <% else %>
        <a href="/signin" style="width: <%= width -%>" data-ajax=false>
          <img src="/assets/icons/profileicon.png" style="border-radius: 0px !important;"/>
          <br/>Login
        </a>
      <% end %>
      <a href="/" class="border-left" style="border-radius: 0px !important; width: <%= width == '33%' ? '34%' : width -%>">
        <img src="/assets/icons/findalessonicon.png"/>
        <br/>Find
      </a>
      <% if current_user %>
        <a href="/post" class="border-left" style="border-radius: 0px !important; width: <%= width -%>">
          <img src="/assets/icons/postalessonicon.png"/>
          <br/>Post
        </a>
      <% end %>
    <% end %>
  </div>
<% end %>

</body>
</html>
